<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-widget">
                    <img src="{{ site.baseurl }}/assets/img/footer-logo.png" alt="">
                    <p>Join our newsletter for the latest updates. Join our newsletter for the latest updates. Join our newsletter for the latest updates.</p>
                    <form action="#">
                        <div class="input-group">
                            <input class="input-control" type="email" placeholder="Enter email address*" required>
                            <input type="submit" value="Join">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="footer-widget">
                            <h4>Tutorials</h4>
                            <ul>
                                <li><a href="#">Python 3 Tutorial</a></li>
                                <li><a href="#">JavaScript Tutorial</a></li>
                                <li><a href="#">JavaScript Tutorial</a></li>
                                <li><a href="#">C Tutorial</a></li>
                                <li><a href="#">Java Tutorial</a></li>
                                <li><a href="#">Kotlin Tutorial</a></li>
                                <li><a href="#">C++ Tutorial</a></li>
                                <li><a href="#">Swift Tutorial</a></li>
                                <li><a href="#">C# Tutorial</a></li>
                                <li><a href="#">DSA Tutorial</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-widget">
                            <h4>Examples</h4>
                            <ul>
                                <li><a href="#">Python Examples</a></li>
                                <li><a href="#">Javascript Examples</a></li>
                                <li><a href="#">C Examples</a></li>
                                <li><a href="#">Java Examples</a></li>
                                <li><a href="#">Kotlin Examples</a></li>
                                <li><a href="#">C++ Examples</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-widget">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Advertising</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copy-rights-wrap">
                        <p class="copy-rights-text">&copy; Parewa Labs Pvt. Ltd. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-social-links text-md-right">
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>